<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/">
        <img class="logo" src="/images/star.jpg" width="35" height="35" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-right ml-3" href="/users/{{user.id}}/boards">All Boards <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a href="/users/{{user.id}}/profilepage"><img class="avatar-nav-k float-right" src={{user.image}} width="35"
                height="35" alt=""></a>
    </div>
</nav>



<div class="container d-flex flex-column justify-center">
    <div class="d-none d-sm-block" id="all-board-container-s">
        <h2 class="text-center mt-4">Welcome {{user.name}}!</h2>
        <div class="text-center p-3"><button class="btn btm-secondary btn-sm toggle-all"><i class="fa fa-th"
                    aria-hidden="true"></i> Show All</button></div>
        <div id="infinite_carousel" class="d-flex m-4 align-items-center">
            <div class="p-3 control"><i class="fa fa-2x text-muted fa-chevron-left"></i></div>
            <div class="row flex-nowrap justify-content-tenter" style="overflow: hidden;">
                {{#each boards}}
                <div class="col-tag col-lg-6 col-md-6 col-sm-12 p-3 text-center">
                    <a href="/users/{{../user.id}}/boards/{{this.id}}">
                        <div class="card card-board-s d-block m-2" style="min-height: 20rem">
                            <div class="card-body card-board-body-s">
                                <h3 class="card-title text-center">{{this.title}}</h3>
                                <img class="card-img card-board-image-s"
                                    src="{{this.image}}">
                                </img>
                                <div class="card-subtitle">
                                    <h6 class="my-2 py-2 text-right">{{this.tasks.length}} tasks</h6>
                                     {{#each ../avatars}}
                                        {{#ifEquals this.boardId ../id}}
                                            {{#each users}}
                                                <img class="avatar-j" src="{{.}}" width="40px" height="40px">
                                            {{/each}}
                                        {{/ifEquals}}
                                     {{/each}}
                            </div>
                        </div>
                    </div>
                    </a>
            </div>
            {{/each}}
        </div>
        <div class="p-3 control"><i class="fa fa-2x text-muted fa-chevron-right"></i></div>
  </div>

    <button class="btn btn-j btn-secondary my-4 btn-add-board-s" onclick="createBoard()" type="button">Add Board</button>

</div>
</div>
<div class="container d-flex flex-column justify-center">
    <div class="d-block d-sm-none" id="all-board-container-s">
        <h2 class="text-center mt-4">Welcome {{user.name}}!</h2>
        <div class="d-flex m-4 align-items-center">
            <div class="row">
                {{#each boards}}
                <div class="col-tag col-lg-6 col-md-6 col-sm-12 p-2 text-center">
                    <a href="/users/{{../user.id}}/boards/{{this.id}}">
                        <div class="card card-board-s d-block" style="min-height: 20rem">
                            <div class="card-body card-board-body-s">
                                <h3 class="card-title text-center">{{this.title}}</h3>
                                <img class="card-img card-board-image-s"
                                    src="{{this.image}}"> 
                                <div class="card-subtitle">
                                    <h6 class="my-2 py-2 text-right">{{this.tasks.length}} tasks</h6>
                                    {{#each ../avatars}}
                                        {{#ifEquals this.boardId ../id}}
                                            {{#each users}}
                                                <img class="avatar-j" src="{{.}}" width="40px" height="40px">
                                            {{/each}}
                                        {{/ifEquals}}
                                     {{/each}}   
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>

        <button class="btn btn-j btn-secondary my-4 btn-add-board-s" onclick="createBoard()" type="button">Add
            Board</button>

    </div>
</div>
<div class="create-board-form-s" id="createBoard-s">
    <form action="/users/{{user.id}}/boards/create" method="POST" class="create-board-container-s">
        <h4>Create New Board</h4>

        <label><br>Title:<br></label>
        <input type="text" placeholder="Board Title" name="title" required>

        <label><br>Project Picture:<br></label>
        <input type="url" placeholder="Picture Url" name="image" required>

        <button type="submit" class="btn btn-j">Create Board</button>
        <button type="button" onclick="cancelBoard()" class="btn btn-j cancel">Cancel</button>
    </form>
</div>

<script>
    function createBoard() {
        document.getElementById("createBoard-s").style.display = "block";
        document.getElementById("all-board-container-s").style.display = "none";
    }
    function cancelBoard() {
        document.getElementById("createBoard-s").style.display = "none";
        document.getElementById("all-board-container-s").style.display = "block";
    }

    // Carousel
        $('.toggle-all').on('click', function() {
        $('#infinite_carousel .row').toggleClass('flex-nowrap');
        $('#infinite_carousel .control').toggleClass('d-none');
        $(this).html($('#infinite_carousel .row').hasClass('flex-nowrap') ? '<i class="fa fa-th" aria-hidden="true"></i> Show All' : '<i class="fa fa-chevron-right" aria-hidden="true"></i> Show Slider');
        });

        $('#infinite_carousel .fa-chevron-right').on('click', () => {
        let $infinite_carousel_row = $('#infinite_carousel .row');
        let $col = $infinite_carousel_row.find('.col-tag:first');
        $infinite_carousel_row.append($col[0].outerHTML);
        $col.remove();
        });

        $('#infinite_carousel .fa-chevron-left').on('click', () => {
        let $infinite_carousel_row = $('#infinite_carousel .row');
        let $col = $infinite_carousel_row.find('.col-tag:last');
        $infinite_carousel_row.prepend($col[0].outerHTML);
        $col.remove();
        });

</script>
    