<nav class="navbar navbar-expand-lg navbar-dark">
  <a href="/">
    <img class="logo" src="/images/star.jpg" width="35" height="35" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-right ml-3" href="/users/{{user.id}}/boards">All Boards <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a href="/users/{{user.id}}/profilepage"><img class="avatar-nav-k float-right" src={{user.image}} width="35"
        height="35" alt=""></a>
  </div>
</nav>

<div class="container">
<div class="userprofile-img-j" style="background-image: url({{user.image}});">
</div>
<div class="d-flex justify-content-center">
<div class="main-board-k edit-user-form-j" id="editUser">
  <form action="/users/{{user.id}}/profilepage/edit" method="POST" class="edit-user-container-j">
    <label><br>Name:<br></label>
    <input type="text" placeholder="Username" name="name" value="{{user.name}}" required>

    <lavel><br>Avatar:<br></lavel>
    <input type="url" placeholder="Avatar Url" name="image" value="{{user.image}}" required>

    <button type="submit" class="btn-j">Edit User</button>
    <a href="/users/{{user.id}}/profilepage/delete" onclick="return confirm('Are you sure you want to delete this?')">
      <button type="button" class="btn-j">Delete
        User
      </button>
    </a>
    <br>
    <br>
    <a href="/">
      <button type="button" class="btn-j">Log out</button>
    </a>
  </form>
</div>
</div>
</div>

<script>
  document.getElementById().value = name
</script>